body {
  margin: auto;
  max-width: 1600px;
  height: 100vh;
}

.header {
  width: 1600px;
  height: 800px;
  background-image: url(../images/header-background.png), linear-gradient(225deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.header__logo {
  width: 241px;
  height: 54px;
  margin-left: 215px;
  margin-top: 53px;
}

.header__nav {
  margin-left: 600px;
  margin-top: -53px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
}

.fa-circle {
  width: 9px;
  height: 9px;
  margin-top: 2px;
  padding-right: 14px;
}

a:link {
  text-decoration: none;
  color: #FFFFFF;
}

a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  font-weight: bold;
}

.header__list {
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  padding-right: 93px;
}

.header__social--list {
  margin-left: 1225px;
  margin-top: -30px;
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
}

.fa-facebook-f {
  padding-right: 35px;
}

.fa-twitter {
  padding-right: 35px;
}

.fa-instagram {
  padding-right: 35px;
}

.slick__container {
  width: 950px;
  margin-left: 314px;
  margin-top: 200px;
}

.header__container {
  text-align: center;
}

.header__title--style {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header__text--style {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.header__button {
  margin-left: 780px;
  margin-top: 200px;
  border-style: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.fa-chevron-down {
  color: #FFFFFF;
}

.space {
  width: 1600px;
  height: 100px;
}

.projects {
  width: 1600px;
  height: 1367px;
}

.title__box {
  width: 324px;
  height: 84px;
  margin-left: 638px;
}

.projects__line {
  text-align: center;
  width: 100px;
  border: 1px solid #2C4058;
}

.projects__title {
  width: 324px;
  height: 54px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.projects__box--left {
  width: 1385px;
  height: 527px;
}

.box--blue {
  width: 585px;
  height: 470px;
  margin-top: 89px;
  background-color: #55B7FF;
}

.projects__image--left {
  width: 630px;
  height: 470px;
  margin-left: 215px;
  margin-top: 146px;
}

.projects__box--info {
  width: 470px;
  height: 351px;
  margin-top: -250px;
  margin-left: 915px;
  box-sizing: border-box;
}

.projects__info--header {
  width: 147px;
  height: 27px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}

.projects__info--title {
  width: 358px;
  height: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.projects__info--text {
  width: 470px;
  height: 81px;
  margin-top: 19px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.projects__info--button {
  width: 190px;
  height: 50px;
  margin-top: 41px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.projects__info--button:hover {
  font-weight: bold;
}

.projects__info--location {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.projects__box--right {
  width: 1385px;
  height: 527px;
}

.projects__box--info-right {
  width: 476px;
  height: 351px;
  margin-left: 215px;
  margin-top: 291px;
}

.projects__info--header-right {
  width: 186px;
  height: 27px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}

.projects__info--title-right {
  width: 476px;
  height: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.projects__info--text-right {
  width: 470px;
  height: 81px;
  margin-top: 19px;
  margin-bottom: 0px;
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.projects__info--button-right {
  width: 190px;
  height: 50px;
  margin-top: 41px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.projects__info--button-right:hover {
  font-weight: bold;
}

.projects__info--location-right {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.projects__image--right {
  width: 630px;
  height: 470px;
  margin-left: 755px;
  margin-top: -425px;
}

.box--purple {
  width: 585px;
  height: 470px;
  margin-left: 1015px;
  margin-top: -550px;
  background: #7E5AFF;
}

.space {
  width: 1600px;
  height: 100px;
}

.news {
  width: 1600px;
  height: 1035px;
  background-image: url(../images/news-background.png), linear-gradient(225deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.news__box {
  width: 327px;
  height: 84px;
  margin-left: 636px;
  padding-top: 135px;
  margin-bottom: 89px;
}

.news__line {
  text-align: center;
  width: 100px;
  border: 1px solid #FFFFFF;
}

.news__heading {
  width: 327px;
  height: 54px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #FFFFFF;
  text-align: center;
}

.news__slickslider {
  width: 1170px;
  margin-left: 215px;
}

.news__card {
  width: 370px;
  height: 100%;
  margin-left: 20px;
  background-color: #FFFFFF;
}

.news__img {
  width: 100%;
}

.news__title {
  height: 50px;
  text-align: left;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.news__text {
  width: 330px;
  height: 50px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
}

.news__id {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.news__id--img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50px;
}

.news__id--title {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}

.news__id--text {
  padding-left: 20px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery {
  width: 1170px;
  height: 721px;
  margin-top: 140px;
  margin-left: 215px;
}

.gallery__box {
  width: 212px;
  height: 84px;
  margin-left: 479px;
  margin-bottom: 89px;
}

.gallery__line {
  text-align: center;
  width: 100px;
  border: 1px solid #2C4058;
}

.gallery__title {
  width: 212px;
  height: 54px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.gallery__grid--house1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.house1 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.house1:hover {
  transform: scale(1.3);
}

.gallery__grid--house2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.house2 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.house2:hover {
  transform: scale(1.3);
}

.gallery__grid--house3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.house3 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.house3:hover {
  transform: scale(1.3);
}

.gallery__grid--house4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.house4 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.house4:hover {
  transform: scale(1.3);
}

.gallery__grid--house5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.house5 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.house5:hover {
  transform: scale(1.3);
}

.gallery__button {
  width: 190px;
  height: 50px;
  margin-left: 490px;
  margin-top: 60px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.gallery__button:hover {
  font-weight: bold;
}

.contact {
  width: 1600px;
  height: 850px;
}

.contact__map {
  width: 1600px;
  height: 700px;
}

#map {
  width: 1600px;
  height: 700px;
}

.contact__box {
  width: 770px;
  height: 450px;
  margin-left: 415px;
  border: 1px solid;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.contact__title--box {
  width: 332px;
  height: 84px;
  margin-left: 219px;
  padding-top: 60px;
}

.contact__line {
  text-align: center;
  width: 100px;
  border: 1px solid #2C4058;
}

.contact__title {
  width: 332px;
  height: 54px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.contact__info {
  width: 286px;
  height: 196px;
  margin-top: 90px;
  list-style: none;
}

.contact__info--list {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.fa-map-marker-alt {
  padding-right: 10px;
}

.fa-phone-alt {
  padding-right: 10px;
}

.fa-inbox {
  padding-right: 10px;
}

.fa-clock {
  padding-right: 10px;
}

.form {
  width: 310px;
  margin-left: 400px;
  background-color: #FFFFFF;
}

.form__input {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #2C4058;
}

.placeholder {
  color: #4B5562;
}

.form__input:focus {
  border-bottom: 1px solid #2C4058;
}

.form__name {
  width: 310px;
  height: 41px;
  margin-top: -150px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.form__email {
  width: 310px;
  height: 41px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.form__button {
  width: 140px;
  height: 50px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  border-style: solid;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
}

.form__button:hover {
  font-weight: bold;
}

.footer {
  width: 1600px;
  height: 549px;
  margin-top: 300px;
  background-image: url(../images/footer-background.png), linear-gradient(225deg, #7E5AFF -2.19%, #55B7FF 103.21%), url(../images/footer-background.png);
}

.footer__box {
  width: 241px;
  height: 112px;
  margin-left: 415px;
}

.footer__logo {
  width: 241px;
  height: 54px;
  margin-top: 204px;
}

.footer__copyright {
  width: 241px;
  height: 17px;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer__socials {
  width: 160px;
  height: 40px;
  margin-left: 1025px;
  margin-top: 100px;
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
}
/*# sourceMappingURL=index.css.map */