$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$tertiary-font: 'Open Sans', sans-serif;

$first-color: #FFFFFF;
$second-color: #55B7FF;
$third-color: #7E5AFF;
$fourth-color: #2C4058;

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}